# Data reading

In [134]:
#importing the library
import pandas as pd
import numpy as np

In [135]:
#reading the csv file
df = pd.read_csv("C:\\Users\\raths\\Downloads\\Attrition - Attrition.csv")
#top 1 data of csv file 
df.head(1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5

In [136]:
#removing row which have null valuesn
df = df.dropna()
#columns names 
columns = df.columns
columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

# LabelEncoding

In [137]:
#import the label encoder library
from sklearn.preprocessing import LabelEncoder

In [138]:
le = LabelEncoder()

In [139]:
#string type of data columns 
df[['BusinessTravel','Attrition','Department','EducationField','Gender','JobRole','MaritalStatus','Over18','OverTime']]

,BusinessTravel,Attrition,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Yes,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,No,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Yes,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,Travel_Frequently,No,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,Travel_Rarely,No,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
...,...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,No,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
1466,Travel_Rarely,No,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
1467,Travel_Rarely,No,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Y,Yes
1468,Travel_Frequently,No,Sales,Medical,Male,Sales Executive,Married,Y,No
1469,Travel_Rarely,No,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

In [140]:
#applying the labelEncoding to the string datatype columns 
df['BusinessTravel'] = le.fit_transform(df['BusinessTravel'])
df['Attrition'] = le.fit_transform(df['Attrition'])
df['Department'] = le.fit_transform(df['Department'])
df['EducationField'] = le.fit_transform(df['EducationField'])
df['Gender'] = le.fit_transform(df['Gender'])
df['JobRole'] = le.fit_transform(df['JobRole'])
df['MaritalStatus'] = le.fit_transform(df['MaritalStatus'])
df['Over18'] = le.fit_transform(df['Over18'])
df['OverTime'] = le.fit_transform(df['OverTime'])

In [141]:
#checking the output of any 3 data of dataset
df.sample(3)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1171,40,1,2,1329,1,7,3,1,1,1649,...,2,80,0,10,3,1,4,2,0,3
628,37,0,2,342,2,16,4,2,1,868,...,4,80,2,9,2,3,1,0,0,0
1257,31,1,2,1079,2,16,4,2,1,1761,...,1,80,3,10,2,3,1,0,0,0

# Train_test_split

In [142]:
x = df.drop(columns = ['Attrition'], axis= 1) #independent data
y = df['Attrition'] #dependent data

In [143]:
x.shape #shape of independent data

(1470, 34)

In [144]:
y.shape #shape of dependent data

(1470,)

In [145]:
#importing train test split library 
from sklearn.model_selection import train_test_split

In [146]:
#80% of data to training and 20% of data to testing 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=9)

In [147]:
x_train.shape #shape of training data of independent data

(1176, 34)

In [148]:
x_test.shape #shape of testing data of independent data

(294, 34)

In [149]:
y_train.shape #shape of training data of dependent data

(1176,)

In [150]:
y_test.shape #shape of testing data of dependent data

(294,)

# Standardization ===> Data Mean = 0, Standard Deviation = 1

In [151]:
#importing the Standardization library
from sklearn.preprocessing import StandardScaler

In [152]:
sc = StandardScaler()

In [153]:
x_train_sc = sc.fit_transform(x_train) #fit is to learn the parameter and transform is to aplly the changes 
# x_train_sc

In [154]:
x_train_new = pd.DataFrame(x_train_sc, columns = x_train.columns) #array to the dataframe
# x_train_new

In [155]:
np.round(x_train_new.describe(),1) #checking the output of the standardization by 1 place of decimal

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,-0.0,-0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,-0.0,0.0,0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-2.0,-2.3,-1.7,-2.4,-1.0,-1.9,-1.7,0.0,-1.7,-1.6,...,-1.6,0.0,-0.9,-1.4,-2.2,-2.5,-1.2,-1.2,-0.7,-1.2
25%,-0.7,-0.9,-0.8,-0.5,-0.9,-0.9,-0.9,0.0,-0.9,-0.7,...,-0.6,0.0,-0.9,-0.7,-0.6,-1.1,-0.7,-0.6,-0.7,-0.6
50%,-0.1,0.6,0.0,-0.5,-0.3,0.1,-0.2,0.0,-0.0,0.2,...,0.3,0.0,0.3,-0.2,0.2,0.4,-0.3,-0.3,-0.4,-0.3
75%,0.7,0.6,0.9,1.4,0.6,1.0,0.6,0.0,0.9,1.2,...,1.2,0.0,0.3,0.5,0.2,0.4,0.3,0.8,-0.0,0.8
max,2.5,0.6,1.7,1.4,2.4,2.0,2.1,0.0,1.7,1.2,...,1.2,0.0,2.6,3.6,2.5,1.8,5.5,3.9,4.2,3.6

# Normalization ===> Min value = 0, Max value = 1

In [156]:
#importing the Normalization library
from sklearn.preprocessing import MinMaxScaler

In [157]:
mn = MinMaxScaler()

In [158]:
x_train_mn = mn.fit_transform(x_train) #fit is to learn and transform is to apply the changes on the data

In [159]:
x_train_new = pd.DataFrame(x_train_mn, columns = x_train.columns) #array to data frame

In [160]:
np.round(x_train_new.describe(),1) #checking the output of the Normalization

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,0.4,0.8,0.5,0.6,0.3,0.5,0.4,0.0,0.5,0.6,...,0.6,0.0,0.3,0.3,0.5,0.6,0.2,0.2,0.1,0.2
std,0.2,0.3,0.3,0.3,0.3,0.3,0.3,0.0,0.3,0.4,...,0.4,0.0,0.3,0.2,0.2,0.2,0.1,0.2,0.2,0.2
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.3,0.5,0.3,0.5,0.0,0.2,0.2,0.0,0.2,0.3,...,0.3,0.0,0.0,0.2,0.3,0.3,0.1,0.1,0.0,0.1
50%,0.4,1.0,0.5,0.5,0.2,0.5,0.4,0.0,0.5,0.7,...,0.7,0.0,0.3,0.2,0.5,0.7,0.1,0.2,0.1,0.2
75%,0.6,1.0,0.8,1.0,0.5,0.8,0.6,0.0,0.8,1.0,...,1.0,0.0,0.3,0.4,0.5,0.7,0.2,0.4,0.1,0.4
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0